src/services/books/index.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="https://aspharmony-production.up.railway.app/"
                  targetNamespace="https://aspharmony-production.up.railway.app/">

  <wsdl:types>
    <xsd:schema targetNamespace="https://aspharmony-production.up.railway.app/">
      
      <!-- Book Type -->
      <xsd:complexType name="Book">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="imageUrl" type="xsd:string"/>
          <xsd:element name="chapters" type="tns:ChapterArray" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Chapter Type -->
      <xsd:complexType name="Chapter">
        <xsd:sequence>
          <xsd:element name="index" type="xsd:int"/>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="content" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Chapter Array Type -->
      <xsd:complexType name="ChapterArray">
        <xsd:sequence>
          <xsd:element name="Chapter" type="tns:Chapter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- GetAllBooks -->
      <xsd:element name="GetAllBooks">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="GetAllBooksResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Book" type="tns:Book" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetBook -->
      <xsd:element name="GetBook">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetBookResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Book" type="tns:Book" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- CreateBook -->
      <xsd:element name="CreateBook">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="book" type="tns:Book"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateBookResponse">
        <xsd:complexType/>
      </xsd:element>

      <!-- UpdateBook -->
      <xsd:element name="UpdateBook">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="book" type="tns:Book"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateBookResponse">
        <xsd:complexType/>
      </xsd:element>

      <!-- DeleteBook -->
      <xsd:element name="DeleteBook">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteBookResponse">
        <xsd:complexType/>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="GetAllBooksInput">
    <wsdl:part name="parameters" element="tns:GetAllBooks"/>
  </wsdl:message>
  <wsdl:message name="GetAllBooksOutput">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse"/>
  </wsdl:message>

  <wsdl:message name="GetBookInput">
    <wsdl:part name="parameters" element="tns:GetBook"/>
  </wsdl:message>
  <wsdl:message name="GetBookOutput">
    <wsdl:part name="parameters" element="tns:GetBookResponse"/>
  </wsdl:message>

  <wsdl:message name="CreateBookInput">
    <wsdl:part name="parameters" element="tns:CreateBook"/>
  </wsdl:message>
  <wsdl:message name="CreateBookOutput">
    <wsdl:part name="parameters" element="tns:CreateBookResponse"/>
  </wsdl:message>

  <wsdl:message name="UpdateBookInput">
    <wsdl:part name="parameters" element="tns:UpdateBook"/>
  </wsdl:message>
  <wsdl:message name="UpdateBookOutput">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse"/>
  </wsdl:message>

  <wsdl:message name="DeleteBookInput">
    <wsdl:part name="parameters" element="tns:DeleteBook"/>
  </wsdl:message>
  <wsdl:message name="DeleteBookOutput">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse"/>
  </wsdl:message>

  <!-- Port Type -->
  <wsdl:portType name="BooksServiceSoap">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksInput"/>
      <wsdl:output message="tns:GetAllBooksOutput"/>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input message="tns:GetBookInput"/>
      <wsdl:output message="tns:GetBookOutput"/>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <wsdl:input message="tns:CreateBookInput"/>
      <wsdl:output message="tns:CreateBookOutput"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input message="tns:UpdateBookInput"/>
      <wsdl:output message="tns:UpdateBookOutput"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input message="tns:DeleteBookInput"/>
      <wsdl:output message="tns:DeleteBookOutput"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="BooksServiceSoap" type="tns:BooksServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/GetAllBooks"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/GetBook"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/CreateBook"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/UpdateBook"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/DeleteBook"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="BooksService">
    <wsdl:port name="BooksServiceSoap" binding="tns:BooksServiceSoap">
      <soap:address location="https://aspharmony-production.up.railway.app/BooksService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>