service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--   
 _____            _____                        
|  _  |___ ___   |  |  |___ ___ _____ ___ ___ _ _ 
|     |_ -| . |  |     | .'|  _|     | . |   | | |
|__|__|___|  _|  |__|__|__,|_| |_|_|_|___|_|_|_  |
          |_|                                |___|
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://aspharmony-production.up.railway.app/"
                  targetNamespace="https://aspharmony-production.up.railway.app/">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://aspharmony-production.up.railway.app/">
      <xsd:element name="GetServiceInfoRequest" />
      <xsd:element name="GetServiceInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Service" type="xsd:string"/>
            <xsd:element name="Version" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="AddNumbersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddNumbersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GenerateJokeRequest">
        <xsd:complexType></xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerateJokeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="joke" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetServiceInfoInput">
    <wsdl:part name="body" element="tns:GetServiceInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="GetServiceInfoOutput">
    <wsdl:part name="body" element="tns:GetServiceInfoResponse"/>
  </wsdl:message>
  
  <wsdl:message name="AddNumbersInput">
    <wsdl:part name="body" element="tns:AddNumbersRequest"/>
  </wsdl:message>
  <wsdl:message name="AddNumbersOutput">
    <wsdl:part name="body" element="tns:AddNumbersResponse"/>
  </wsdl:message>

  <wsdl:message name="GenerateJokeInput">
    <wsdl:part name="body" element="tns:GenerateJokeRequest"/>
  </wsdl:message>
  <wsdl:message name="GenerateJokeOutput">
    <wsdl:part name="body" element="tns:GenerateJokeResponse"/>
  </wsdl:message>

  <wsdl:portType name="AspHarmonyPortType">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input message="tns:GetServiceInfoInput"/>
      <wsdl:output message="tns:GetServiceInfoOutput"/>
    </wsdl:operation>
    <wsdl:operation name="AddNumbers">
      <wsdl:input message="tns:AddNumbersInput"/>
      <wsdl:output message="tns:AddNumbersOutput"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateJoke">
      <wsdl:input message="tns:GenerateJokeInput"/>
      <wsdl:output message="tns:GenerateJokeOutput"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AspHarmonyBinding" type="tns:AspHarmonyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/GetServiceInfo"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNumbers">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/AddNumbers"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateJoke">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/GenerateJoke"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AspHarmonyService">
    <wsdl:port name="AspHarmonyPort" binding="tns:AspHarmonyBinding">
      <soap:address location="https://aspharmony-production.up.railway.app/service"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>

<!--
  _______    _     _        _    _                                        
 |__   __|  | |   | |      | |  | |                                       
    | | __ _| |__ | | ___  | |__| | __ _ _ __ _ __ ___   ___  _ __  _   _ 
    | |/ _` | '_ \| |/ _ \ |  __  |/ _` | '__| '_ ` _ \ / _ \| '_ \| | | |
    | | (_| | |_) | |  __/ | |  | | (_| | |  | | | | | | (_) | | | | |_| |
    |_|\__,_|_.__/|_|\___| |_|  |_|\__,_|_|  |_| |_| |_|\___/|_| |_|\__, |
                                                                     __/ |
                                                                    |___/ 

                                                                                                                                                         
                                                                                          
            ...                                                            ....           
       .-+*******+=:                                                   :=********=-       
     -***************-                 ............                 .+**************+.    
   :*#*****************-      ..............................      .+*****************#+   
  =##*****************+-..........................................-+*****************##*. 
 -###**************=-................................................-=***************##* 
 ####***********+-......................................................-+************###=
-####*********=:..........................................................:=*********####*
-#####******=:..............................................................:=*******#####
 ######***+:..................................................................:+***######=
 :######*-......................................................................-*######* 
  :*###+.........................................................................:*####+  
    -*=............................................................................+#+.   
      ....................:::::...........................::::::.....................     
     ................:=+*********+-...................:=+*********+=:................     
    ...............=****************=................=***************+-...............    
   ..............-*******************=..............+*******************-..............   
  ..............+**********#**********-............+*********************=.............   
  .............+*********#%%%%#******#=............*#******#%%%%#*********-.............  
 .............-*********#%%%%%%*****##=............+##*****%%%%%%#*********.............  
 .............+**********#%%%%#***###*.............:###****#%%%%#**********=............. 
 .............******************#####:..............=####*****************#+............. 
..............*##*************#####*:..-=+******++=:.-######*************##=............. 
..............=######****#########+...*#**********##=.:+########*****######:..............
:..............+################+:....+#############-...-+################=...............
:...............-*###########*-........-*#########=:......:=*###########+:................
.:................:=++**++=-.............:=*###+-............:-=+***+=-:................: 
 ::........................................-%%*........................................:: 
 .::....................................:=*%%#%#+-....................................::. 
  .::........................-%%#*++++*#%%#=:.-+#%%#*++++*#%#........................::.  
   ::::.......................:-=+****+=-........:-=+****+=-.......................:::.   
    .::::........................................................................::::.    
     .:::::....................................................................:::::.     
       .::::::..............................................................::::::.       
         .::::::::......................................................::::::::.         
           ..:::::::::..............................................:::::::::..           
              .::::::::::::::................................:::::::::::::..              
                  ..::::::::::::::::::::::::::::::::::::::::::::::::::..                  
                      ...::::::::::::::::::::::::::::::::::::::::..                       
                             ....::::::::::::::::::::::::....                                                                                                       
-->