src/services/jokes/index.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://aspharmony-production.up.railway.app/"
                  targetNamespace="https://aspharmony-production.up.railway.app/">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://aspharmony-production.up.railway.app/">      
      <xsd:element name="AddNumbersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddNumbersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sum" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GenerateJokeRequest">
        <xsd:complexType></xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerateJokeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="joke" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetJokesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="count" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetJokesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jokes" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="AddNumbersInput">
    <wsdl:part name="body" element="tns:AddNumbersRequest"/>
  </wsdl:message>
  <wsdl:message name="AddNumbersOutput">
    <wsdl:part name="body" element="tns:AddNumbersResponse"/>
  </wsdl:message>

  <wsdl:message name="GenerateJokeInput">
    <wsdl:part name="body" element="tns:GenerateJokeRequest"/>
  </wsdl:message>
  <wsdl:message name="GenerateJokeOutput">
    <wsdl:part name="body" element="tns:GenerateJokeResponse"/>
  </wsdl:message>

  <wsdl:message name="GetJokesInput">
    <wsdl:part name="body" element="tns:GetJokesRequest"/>
  </wsdl:message>
  <wsdl:message name="GetJokesOutput">
    <wsdl:part name="body" element="tns:GetJokesResponse"/>
  </wsdl:message>

  <wsdl:portType name="JokesServicePortType">
    <wsdl:operation name="AddNumbers">
      <wsdl:input message="tns:AddNumbersInput"/>
      <wsdl:output message="tns:AddNumbersOutput"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateJoke">
      <wsdl:input message="tns:GenerateJokeInput"/>
      <wsdl:output message="tns:GenerateJokeOutput"/>
    </wsdl:operation>
    <wsdl:operation name="GetJokes">
      <wsdl:input message="tns:GetJokesInput"/>
      <wsdl:output message="tns:GetJokesOutput"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="JokesServiceBinding" type="tns:JokesServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddNumbers">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/JokesService/AddNumbers"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateJoke">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/JokesService/GenerateJoke"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJokes">
      <soap:operation soapAction="https://aspharmony-production.up.railway.app/JokesService/GetJokes"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="JokesService">
    <wsdl:port name="JokesServicePort" binding="tns:JokesServiceBinding">
      <soap:address location="https://aspharmony-production.up.railway.app/JokesService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
